---
layout: layouts/base.njk
title: Index
eleventyNavigation:
  key: index
  title: Home
  order: 6
---

<!-- div container spanning 12-columns-->
<div class="col-12">
  <!-- header, body, main content -->
  <!-- set home image using -->
  <div class="indexImg">
    <img src="/assets/images/field test.jpg" alt="field">
  </div>
</div>
