 <div class="footer">
    <p class="footerTxt">Jamerson Photo (c) 2021</p>
    <!-- instagram icon to be linked to Jamerson's instagram profile -->
    <a id="instaLink" href="#instagram">
      <img class="instaFooter" src="/../../assets/images/instafooter.svg" alt="instagram">
    </a>
 </div>

  <!-- link to javascript file of the 'hamburger' pop-up navigation for small screens -->
  <script src="/assets/scripts/ham-nav.js"></script>
  </body>
</html>
