 <div class="footer">
   <!-- create a grid container for items in footer -->
    <div class="container grid">
      <!-- adjust span of copyright info text depending on screen size -->
      <div class="col-6 col-md-5 col-sm-4 col-xs-3 col-xxs-2">
        <p class="footerTxt">Jamerson Photos (c) 2021</p>
      </div>
      <!-- adjust span of instagram icon depending on screen size -->
      <div class="col-6 col-md-5 col-sm-4 col-xs-3 col-xxs-2">
        <!-- instagram icon to be linked to Jamerson's instagram profile -->
        <a href="#instagram"><img class="instaFooter" src="/../../assets/images/instafooter.svg" alt="instagram"></a>
      </div>
    </div>
  </div>

  <!-- link to javascript file of the 'hamburger' pop-up navigation for small screens -->
  <script src="/assets/scripts/ham-nav.js"></script>
  <!-- link to javascript file for carousel photo gallery in the gallery page -->
  <script src="/assets/scripts/carousel.js"></script>

  </body>
</html>
