<div class="header">
      <!-- logo container -->
      <div class="header-logo">
        <a href="/"><img src="/assets/images/jp-logo.png" alt="JPhoto"></a>
      </div>

      <!-- icon for navigation menu for small screens -->
      <button id="mostrar-menu"  class="hamburger hamburger--spin header-nav-icon">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <!-- pop-out navigation menu for small screens -->
      <div class="menu-nav">
        <button id="cerrar-menu" class="cerrar-menu" aria-label="Cerrar">
          &times;
        </button>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery/">Gallery</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <!-- navigation menu for larger screens using eleventyNavigation plug-in and nunjucks -->
      {% set navPages = collections.all | eleventyNavigation %}
      <div class="nav">
        {%- for elemento in navPages %}
          <a href="{{ elemento.url | url }}"
            {% if elemento.url == page.url %} class="active"
            {% endif %}
          >
            {{ elemento.title }}
          </a>
        {%- endfor %}
      </div>
</div>
