<!-- main layout page using nunjucks to paint html for main sections on all
pages -->
{% include "./general/head.njk" %}

<div>
  {% include "./general/header.njk" %}
  <main>

    <!-- any elements belonging to 'content' class are included here -->
    {{ content | safe }}
    
  </main>
</div>

{% include "./general/footer.njk" %}
