<!-- main layout page using nunjucks to paint html for main sections on all
pages -->
{% include "./general/head.njk" %}

{% include "./general/header.njk" %}
<!-- any elements belonging to 'content' class are included in this div -->
<main> <!-- class="content container grid" -->

  {{ content | safe }}
{% include "./general/gallery-nav.njk" %}
</main>

{% include "./general/footer.njk" %}
