/* content classes for all pages */
.content {
  padding-top: var(--spacer-xs);
  padding-bottom: var(--spacer-xs);
}

main {
  width: 100%;
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacer-xs);
  padding-right: var(--container-padding);
  padding-bottom: var(--spacer-xs);
  padding-left: var(--container-padding);
}

/* elements */
.aboutTxt {
  padding: 0 4%;
}

.aboutGear {
  margin-left: var(--spacer-m);
  padding: var(--spacer-s);
  font-family: var(--font-2);
  font-size: var(--text-main-sm);
  border: 1px dotted var(--tertiary-1);
  border-radius: 28%;
}

.aboutGear ul li {
  margin-left: var(--spacer-s);
  color: var(--secondary-10);
}

.about-gear-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /*height: auto;*/
  margin-top: var(--spacer-m);
}

.contactContainer a:link {
  text-decoration: none;
  transition: color 2s;
  color: inherit;
}

/* containers */
.contactContainer {
  max-width: 100vw;
  min-height: 20vh;
  margin: var(--spacer-m);
  background-color: var(--tertiary-2);
}

.contactContainer-lg {
  margin-top: var(--spacer-l);
}

/* image classes */
.indexImg {
  height: 82vh;
  margin-top: var(--spacer-s);
  padding-top: var(--spacer-2xl);
  padding-left: var(--spacer-m);
  padding-right: var(--spacer-m);
  border-radius: 48px;
  font-size: var(--text-headline);
  font-style: italic;
  text-shadow: 3px 3px var(--primary-10);
  text-align: center;
  letter-spacing: var(--spacer-s);
  color: var(--secondary-2);
  background-image: url("/assets/images/field-test-2700w(alt) copy 2.jpg");
}

.Containers img {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
}

.aboutImg img {
  display: block;
  min-width: 84vw;
  height: 29vh;
  margin: auto;
  margin-top: var(--spacer-m);
  border-radius: 25px;
  object-fit: cover;
}

@media (min-width: 375px) {
  .aboutGear ul li {
    margin-left: var(--spacer-xs);
  }
}

@media (min-width: 549px) {
  .Containers img {
    height: 37vh;
  }
}

@media (min-width: 600px) {
  .Containers img {
    height: 41vh;
    object-position: center;
  }
}

/* adjust content classes for tablet size */
@media (min-width: 768px) {
  main {
      margin-top: var(--spacer-s);
  }

  /* elements */
  .about-gear-container {
    margin-top: 0;
  }

  /* containers */
  .galleryTxt {
    margin-top: var(--spacer-m);
    padding: 0 var(--spacer-m);
  }

  .contactContainer {
    min-height: 21vh;
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-m);
  }

  /* images */
  .indexImg {
    height: 80vh;
  }

  .aboutImg img {
    height: 40vh;
    margin-top: var(--spacer-l);
  }
}

@media (min-width: 810px) {
  .about-gear-container {
    margin-top: var(--spacer-m);
  }
}

@media (min-width: 900px) {
  .contactContainer {
    max-width: 100vw;
  }
}

@media (min-width: 1025px) {
  /* elements */
  ul {
    margin-top: var(--spacer-l);
  }

  /* containers */
  .galleryTxt {
    max-width: 30vw;
    padding: 0 5%;
    margin-top: 10vh;
    margin-right: 0;
    float: right;
  }

  /* image classes */
  .galleryImg {
    max-width: 46%;
    float: left;
    margin-top: var(--spacer-l);
    margin-left: 7vw;
  }

  .aboutTxt {
    max-width: 58%;
    float:right;
    margin-top: var(--spacer-xl);
    padding: 0 4%;
    font-family: var(--font-2);
    font-size: var(--text-base);
    line-height: 1.9em;
  }

  .about-gear-container {
    max-width: 50%;
    float: right;
    margin-right: var(--spacer-2xl);
    margin-top: var(--spacer-xl);
    align-items: first baseline;
  }

  .aboutGear {
    font-size: 16px;
    margin-left: var(--spacer-m);
    padding: var(--spacer-l);
  }

  .aboutImg {
    max-width: 42%;
  }

  .aboutImg img {
    min-width: 100%;
    height: 65vh;
    float: left;
    margin-top: var(--spacer-m);
  }

  .contactContainer-lg {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .contactContainer {
    width: 26vw;
    min-height: 37vh;
    margin-top: var(--spacer-xl);
  }

  .contactContainer a:hover {
    color: var(--secondary-8);
  }
}

/* adjust content classes for laptop size */
@media (min-width: 1438px) {
  .aboutGear ul li {
    margin: var(--spacer-2xs);
  }

  /* containers */
  .galleryTxt {
    max-width: 26vw;
    margin-right: var(--spacer-ml);
  }

  /* image classes */
  .indexImg {
    height: 79vh;
  }
}

 @media (min-width: 1570px) {
    .galleryTxt {
      max-width: 24vw;
    }
 }

 @media (min-width: 1762px) {
    .galleryTxt {
      margin-right: var(--spacer-m);
    }
 }

 @media (min-width: 1794px) {
    .galleryTxt {
      max-width: 22vw;
    }
 }

  @media (min-width: 1918px) {
     .galleryTxt {
       max-width: 20vw;
       margin-right: var(--spacer-s);
     }
  }
