/* content classes for all pages */
.content {
  padding-top: var(--spacer-xs);
  padding-bottom: var(--spacer-xs);
}

/* elements */
.aboutGear ul {
  /*width: 125px;
  height: 115px;
  margin-top: var(--spacer-m);
  margin-left: var(--spacer-m);
  padding: var(--spacer-m);*/
  list-style-type: disc;
  /*border-radius: 100%;
  background-color: var(--tertiary-2);*/
}

.aboutGear ul li {
  margin-left: var(--spacer-s);
  color: var(--secondary-10);
}

.contactContainer a:link {
  text-decoration: none;
  transition: color 2s;
  color: inherit;
}

/* containers */
.contactContainer {
  max-width: 100vw;
  height: 20vh;
  margin: var(--spacer-m);
  background-color: var(--tertiary-2);
}

/* image classes */
.indexImg img {
  width: 100vw;
  height: 78vh;
  margin-top: var(--spacer-s);
  object-fit: cover;
}

.Containers img {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 25px;
}

.aboutImg img {
  width: 100vw;
  height: 29vh;
  margin-top: var(--spacer-s);
  border-radius: 25px;
  object-fit: cover;
}

@media (min-width: 375px) {
  .aboutGear ul li {
    margin-left: var(--spacer-xs);
  }
}

/* adjust content classes for tablet size */
@media (min-width: 768px) {
  /* elements */
  .aboutGear ul {
    /*width: 180px;
    height: 180px;
    margin-top: var(--spacer-l);
    margin-left: var(--spacer-xl);
    padding: var(--spacer-l);*/
  }

  /* containers */
  .galleryTxt {
    padding: 0 var(--spacer-m);
    margin-top: var(--spacer-m);
  }

  .contactContainer {
    height: 21vh;
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-l);
  }

  /* images */
  .Containers img {
    height: 46vh;
    object-position: right;
  }

  .indexImg img {
    height: 80vh;
  }

  .aboutImg img {
    height: 42vh;
  }
}

@media (min-width: 900px) {
  .contactContainer {
    max-width: 100vw;
    height: 14vh;
  }
}

@media (min-width: 1025px) {
  /* elements */
  ul {
    margin-top: var(--spacer-l);
  }

  /* containers */
  .galleryTxt {
    width: 35vw;
    margin-right: var(--spacer-m);
    padding: var(--spacer-xl);
    position: absolute;
    top: 20vh;
    right: -4vw;
  }

  /* image classes */
  .Containers img {
    height: 52vh;
    object-fit: contain;
    object-position: center;
  }

  .galleryImg {
    position: absolute;
    top: 16vh;
    left: 26vw;
    width: 45vw;
    z-index: var(--z-index-gallery);
  }

  .aboutGear ul {
    position: relative;
    top: 28vh;
  }

  .aboutImg img {
    height: 59vh;
    width: 26vw;
    position: absolute;
    top: 206px;
    left: 10vw;
  }

  .contactContainer a:hover {
    color: var(--secondary-8);
  }
}

/* adjust content classes for laptop size */
@media (min-width: 1438px) {
  .aboutGear ul li {
    margin: var(--spacer-2xs);
  }

  .aboutGear ul {
    /*top: 0;*/
  }

  /* containers */
  .galleryTxt {
    width: 30vw;
    margin-right: var(--spacer-xl);
    top: 22vh;
  }

  .aboutGear {
    position: absolute;
    top: 460px;
    right: 400px;
  }

  .contactContainer {
    display: inline-block;
    width: 26vw;
    height: 37vh;
    margin: var(--spacer-l);
    margin-top: var(--spacer-xl);
  }

  /* image classes */
  .indexImg img {
    height: 72vh;
  }

  .galleryImg {
    top: 25vh;
  }
  .Containers img {
  height: 46vh;
  object-fit: cover;
  object-position: center;
  }

  .aboutImg img {
    width: 26vw;
    position: absolute;
    top: 233px;
    left: 218px;
  }
}

@media (min-width: 1470px) {
    .contactContainer {
      width: 22vw;
    }
 }
