/* content classes for all pages */
.content {
  padding-top: var(--spacer-xs);
  padding-bottom: var(--spacer-xs);
}

/* elements */

.aboutTxt {
  padding: 0 4%;
}

.aboutGear {
  /*width: 125px;
  height: 115px;
  margin-top: var(--spacer-m);*/
  margin-left: var(--spacer-m);
  padding: var(--spacer-s);
  /*list-style-type: disc;
  display: inline-block;
  width: 10%;*/
  /*border-radius: 100%;
  background-color: var(--tertiary-2);*/
  /*margin-top: var(--spacer-m);
  padding: var(--spacer-m);*/
  /*list-style-type: disc;
  width: 50%;*/
  /*float: right;*/
  font-family: var(--font-2);
  font-size: var(--text-main-sm);
  border: 1px dotted var(--tertiary-1);
  border-radius: 28%;
}

.aboutGear ul li {
  margin-left: var(--spacer-s);
  color: var(--secondary-10);
}

.about-gear-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  max-width: 100%;
  height: auto;
  margin-top: var(--spacer-m);
}

.contactContainer a:link {
  text-decoration: none;
  transition: color 2s;
  color: inherit;
}

/* containers */
.contactContainer {
  max-width: 100vw;
  min-height: 20vh;
  margin: var(--spacer-m);
  background-color: var(--tertiary-2);
}

/* image classes */
.indexImg img {
  width: 100vw;
  height: 78vh;
  margin-top: var(--spacer-s);
  object-fit: cover;
}

.Containers img {
  /*width: 100vw;*/
  height: 35vh;
  width: 100vw;
  object-fit: cover;
  border-radius: 25px;
}

.aboutImg img {
  min-width: 84vw;
  height: 29vh;
  display: block;
  margin: auto;
  margin-top: var(--spacer-m);
  border-radius: 25px;
  object-fit: cover;
}

@media (min-width: 375px) {
  .aboutGear ul li {
    margin-left: var(--spacer-xs);
  }
}

/* adjust content classes for tablet size */
@media (min-width: 768px) {
  /* elements */
  .about-gear-container {
    margin-top: 0;
  }
  .aboutGear ul {
    /*width: 180px;
    height: 180px;
    margin-top: var(--spacer-l);
    margin-left: var(--spacer-xl);
    padding: var(--spacer-l);*/
  }

  /* containers */
  .galleryTxt {
    padding: 0 var(--spacer-m);
    margin-top: var(--spacer-m);
  }

  .contactContainer {
    min-height: 21vh;
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-l);
  }

  /* images */
  .Containers img {
    height: 46vh;
    object-position: right;
  }

  .indexImg img {
    height: 80vh;
    margin-top: var(--spacer-l);
  }

  .aboutImg img {
    height: 42vh;
    margin-top: var(--spacer-l);
  }
}

@media (min-width: 900px) {
  .contactContainer {
    max-width: 100vw;
    min-height: 10em;
  }
}

@media (min-width: 1025px) {
  /* elements */
  ul {
    margin-top: var(--spacer-l);
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /* containers */
  .galleryTxt {
    max-width: 31vw;
    padding: 0 5%;
    margin-top: 10vh;
    margin-right: 0;
    /*margin-right: var(--spacer-m);
    padding: var(--spacer-xl);*/
    /*position: relative;*/
    /*top: 20vh;
    right: -4vw;*/
    float: right;
  }

  /* image classes */
  .Containers img {
    height: 52vh;/*
    object-fit: contain;*/
    object-position: center;
  }

  .galleryImg {
    /*position: relative;
    top: 16vh;
    left: 26vw;*/
    max-width: 46%;
    margin-top: var(--spacer-l);
    margin-left: 7vw;
    float: left;
    /*z-index: var(--z-index-gallery);*/
  }

  .aboutTxt {
    max-width: 58%;
    float:right;
    margin-top: var(--spacer-xl);
    padding: 0 4%;
    font-family: var(--font-2);
    font-size: var(--text-base);
    line-height: 1.9em;
  }

  .about-gear-container {
    max-width: 50%;
    float: right;
    margin-right: var(--spacer-2xl);
    margin-top: var(--spacer-xl);
    align-items: first baseline;
    /*position: relative;
    bottom: 180px;
    right: 324px;*/
  }

  .aboutGear {
    /*display: inline;
    width: 25px;
    float:right;*/
    font-size: 16px;
    margin-left: var(--spacer-m);
    padding: var(--spacer-l);
  }

  .aboutImg {
    /*height: 59vh;*/
    /*display: inline;*/
    max-width: 42%;
    /*margin-left: var(--spacer-m);
    position: relative;
    /*top: 206px;
    left: 10vw;*/
  }

  .aboutImg img {
    /*display: inline;*/
    min-width: 100%;
    height: 65vh;
    float: left;
    margin-top: var(--spacer-m);
    /*min-width: 100vw;*/
  }

  .contactContainer-lg {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .contactContainer {
    /*display: inline-block;*/
    width: 26vw;
    min-height: 37vh;
    /*margin: var(--spacer-l);*/
    margin-top: var(--spacer-xl);
  }

  .contactContainer a:hover {
    color: var(--secondary-8);
  }
}

/* adjust content classes for laptop size */
@media (min-width: 1438px) {
  .aboutGear ul li {
    margin: var(--spacer-2xs);
  }

  .aboutGear ul {
    /*top: 0;*/
  }

  /* containers */
  .galleryTxt {
    max-width: 26vw;/*
    margin-right: var(--spacer-xl);
    top: 22vh;*/
  }

  .aboutTxt{
    /*width: 39vw;
    width: 43vw;
    margin-top: var(--spacer-xl);
    line-height: 1.9em;*/
  }

  .aboutGear {
    /*position: absolute;
    top: 460px;
    right: 400px;*/
  }

  .contactContainer {
    /*display: inline-block;
    width: 26vw;
    min-height: 37vh;
    margin: var(--spacer-l);
    margin-top: var(--spacer-xl);*/
  }

  /* image classes */
  .indexImg img {
    height: 72vh;
  }

  .galleryImg {
    /*top: 25vh;*/
  }
  .Containers img {
    height: 46vh;
    /*object-fit: cover;
    object-position: center;*/
  }

  .aboutImg img {
    /*width: 26vw;
    position: absolute;
    top: 233px;
    left: 218px;*/
  }
}

@media (min-width: 1470px) {
    .contactContainer {
      /*width: 22vw;*/
    }
 }

 @media (min-width: 1570px) {
    .aboutTxt {
      /*width: 43vw;*/
    }
    .galleryTxt {
      /*max-width: 22vw;*/
    }
 }

  @media (min-width: 1920px) {
     .galleryTxt {
       max-width: 14vw;
     }
  }
