/* footer classes */
.footer {
  display: flex;
  width: 100%;
  max-width: var(--maxwidth);
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--spacer-s);
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

/* copyright info */
.footerTxt {
  font-size: var(--text-caption);
  align-self: center;
  flex: 0.5;
}

/* instagram icon to link to external instagram profile */
.instaFooter {
  width: 6vw;
}

#instaLink {
  align-self: center;
  flex: 0.5;
}

@media (min-width: 375px) {
  .instaFooter {
    width: 5vw;
  }
}

/* adjust for tablet size */
@media (min-width: 768px) {
  .footerTxt {
    margin-top: var(--spacer-s);
  }
}

/* adjust for laptop size */
@media (min-width: 900px) {
  .instaFooter {
    width: 3em;
  }
}
