.header {
  width: 100%;
  max-width: var(--maxwidth);
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.header-logo {
  width: 100px;
  float: left;
  margin-top: var(--spacer-m);
}
