.header-nav-icon {
  float:right;
  position: relative;
  left: 0.5em;
  top: 1.5em;
  z-index: var(--z-index-navicon);
  border: 0;
  background-color: transparent;
}

/* pop-out 'hamburger' navigation menu for small screens */
.menu-nav{
  position: fixed;
  z-index: var(--z-index-navicon);
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #4f661e;
  padding: 1rem 2rem;
  transform: translateX(-250px);
  transition: transform .3s;
}

.menu-nav.visible{
  transform: translateX(0);
}

.menu-nav ul{
  list-style: none;
  padding-left: 0;
}

.menu-nav li{
  margin-bottom: 1rem;
}

.menu-nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.mostrar-menu{
  background-color: #e94057;
  color: white;
  padding: .5rem 1rem;
  border: 0;
  border-radius: .3rem;
  cursor: pointer;
  position: absolute;
  right: 2.5vw;
}

.cerrar-menu{
  background-color: transparent;
  border: 0;
  padding: 0;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0;
}

/* horizontal 'eleventy' navigation menu for larger screens */
.nav {
  display: none;
}

/* horizontal bottom navigation menu for gallery page for smaller screens */
.galleryNav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: var(--spacer-m);
}

.galleryNav a {
  font-weight: 600;
  font-size: var(--text-gnav);
  text-decoration: none;
  color: var(--secondary-9);
}

.galleryNav a.active {
  border-bottom: 1px solid var(--secondary-8);
}

/* adjust navigation classes for larger mobile size */
@media (min-width: 375px) {
  .galleryNav a {
    font-weight: normal;
    color: var(--secondary-9);
  }
}

@media (min-width: 549px) {
  .galleryNav {
    margin: var(--spacer-l);
  }
}

@media (min-width: 688px) {
  .galleryNav {
    margin: 60px;
  }
}
/* adjust navigation classes for tablet size */
@media (min-width: 768px) {
  .galleryNav {
    margin-top: 60px;
    padding-left: var(--spacer-m);
    padding-right: var(--spacer-m);
  }
}

@media (min-width: 866px) {
  .galleryNav {
    margin: var(--spacer-l);
  }
}

@media (min-width: 900px) {
  .galleryNav {
    margin: var(--spacer-ml);
  }
}

/* vertical side navigation for gallery page for larger screens*/
.gallSideNav {
  display: none;
}

/* adjust navigation classes for laptop size */
@media (min-width: 1025px) {
  .header-nav-icon {
    display: none;
  }

  .nav {
    display: block;
    float: right;
    margin-top: var(--spacer-s);
    margin-right: var(--spacer-s);
  }

  .nav a {
    float: right;
    margin-top: var(--spacer-s);
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  .nav a:hover {
    opacity: 0.7;
  }

  .galleryNav {
    display: none;
  }

  .galleryNav a:hover:not(.active) {
    color: var(--tertiary-1);
  }

  .gallSideNav {
    display: block;
    min-width: 14%;
    min-height: 70vh;
    float: left;
    position: relative;
  }

  .gallSideNav li {
    margin: var(--spacer-l);
  }

  .gallSideNav a {
    font-size: var(--text-gnav);
    text-decoration: none;
    color: var(--secondary-9);
  }

  /* style for hovering over side navigation items in gallery, but don't apply
  for active item */
  .gallSideNav a:hover:not(.active) {
    color: var(--tertiary-1);
  }
}

@media (min-width: 1440px) {
  .header-logo {
    width: 8vw;
  }
}
