---
layout: layouts/base.njk
title: About
eleventyNavigation:
  key: about
  title: About
  order: 2
---

  <!-- header, body, content -->
  <h1 class="text-headline">About</h1>

    <div class="aboutTxt">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
    </div>

    <!-- place about image -->
    <div class="aboutImg">
        <img src="/assets/images/men & map.jpg" alt="men & map">
    </div>

    <div class="about-gear-container">
        <p class="text-subheader-about">The Gear</p>
        <ul class="aboutGear">
          <li>lorem ipsum</li>
          <li>dolor sit amet</li>
          <li>consectetur</li>
          <li>adipiscing elit</li>
        </ul>
    </div>
