---
layout: layouts/base.njk
title: About
eleventyNavigation:
  key: about
  title: About
  order: 2
---

<!-- div container spanning 12-columns -->
<div class="col-12">

  <!-- header, body, content -->
  <h1 class="text-headline">About</h1>
    <p class="text-body-about">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

  <!-- place about image using nunjucks -->
  <div class="aboutImg">
    <img src="/assets/images/men & map.jpg" alt="men & map">
    <!-- {% set element = {"image": "men & map.jpg"} %}
    {% include 'components/project.njk' %} -->
  </div>

  <!-- use a responsive grid-container to place section about gear -->
  <div class="container grid">
    <div class="col-6 col-md-5 col-sm-4 col-xs-3 col-xxs-2">
      <p class="text-subheader-about">The Gear</p>
    </div>
    <div class="aboutGear col-6 col-md-5 col-sm-4 col-xs-3 col-xxs-2">
      <ul class="text-main-sm">
        <li>lorem ipsum</li>
        <li>dolor sit amet</li>
        <li>consectetur</li>
        <li>adipiscing elit</li>
      </ul>
    </div>
  </div>
</div>

<!--
---
layout: layouts/base.njk
title: About

---

eleventyNavigation:
  key: about
  title: About
  order: 2 -->
