---
layout: layouts/base.njk
title: Contact
eleventyNavigation:
  key: contact
  title: Contact
  order: 1
---

<!-- div container spanning 12-columns -->
<div class="col-12">

  <!-- header, body, content -->
  <h1 class="text-headline">Contact</h1>

  <!-- main containers for contact information -->
  <div class="contactContainer">
    <h1 class="text-subheader-contact">Address</h1>
    <p class="text-body-contact">23 Lorem ipsum, Dolor sit amet, <br>Box 4322, Consectetur</p>
  </div>

  <div class="contactContainer">
    <h1 class="text-subheader-contact">E-mail</h1>
    <p class="text-body-contact"><a href="mailto:jamerson@jamerson.com">jamerson@jamerson.com</a></p>
  </div>

  <div class="contactContainer">
    <h1 class="text-subheader-contact">Phone</h1>
    <p class="text-body-contact"><a href="tel:+12085556211">+1-208-5556-211</a></p>
  </div>

</div>
