---
layout: layouts/base.njk
title: Gallery
eleventyNavigation:
key: gallery2
parent: gallery
---

  <h1 class="text-headline">Gallery</h1>
  <!-- this navigation menu appears on the side on larger screens only -->
    <div class="gallSideNav">
      <ul>
        <li><a href="/gallery/">Project 1</a></li>
        <li style="font-weight: 700;"><a class="active" href="/gallery2/">Project 2</a></li>
        <li><a href="/gallery3/">Project 3</a></li>
      </ul>
    </div>

<!-- carousel image gallery -->
  <div class="galleryImg">

      <!-- Slideshow container -->
      <div class="slideshow-container fade">

       <!-- Full images with numbers and message Info -->
         <div class="Containers">
           <div class="MessageInfo">1 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/smiley-dudes-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/smiley-dudes-1025w.jpg">
             <img src="/assets/images/smiley-dudes-600w.jpg" alt="Tunnel Farmers">
           </picture>
           <p class="gallery-caption">2a: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">2 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/hands-voy-600w.JPG">
             <source media="(min-width: 601px)" srcset="/assets/images/hands-voy-1025w.jpg">
             <img src="/assets/images/hands-voy-600w.JPG" alt="Handing the Beans">
           </picture>
           <p class="gallery-caption">2b: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">3 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/brass-sprayer-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/brass-sprayer-1025w.jpg">
             <img src="/assets/images/brass-sprayer-600w(alt).jpg" alt="Applying Brass Treatment" style="object-position:top;">
           </picture>
           <p class="gallery-caption">2c: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">4 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/bean-vine-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/bean-vine-1025w.jpeg">
             <img src="/assets/images/bean-vine-600w.jpg" alt="Hama Bean Vine">
           </picture>
           <p class="gallery-caption">2d: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <!-- Back and forward buttons -->
         <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
         <a class="forward" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The circles/dots -->
      <div style="text-align:center">
       <span class="dots" onclick="currentSlide(1)"></span>
       <span class="dots" onclick="currentSlide(2)"></span>
       <span class="dots" onclick="currentSlide(3)"></span>
       <span class="dots" onclick="currentSlide(4)"></span>
      </div>
  </div>

  <!-- main gallery text -->
  <div class="galleryTxt">
      <h2 class="text-subheader-gallery">Project 2</h2>
      <p class="text-body-gallery">Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
  </div>

  <!-- gallery bottom horizontal navigation -->
    <div class="galleryNav">
      <a href="/gallery/">Project 1</a>
      <a class="active" href="/gallery2/">Project 2</a>
      <a href="/gallery3/">Project 3</a>
    </div>

  <!-- javascript for image carousel -->
  <script src="/assets/scripts/carousel.js"></script>
