---
layout: layouts/base.njk
title: Gallery
eleventyNavigation:
key: gallery3
parent: gallery
---

  <h1 class="text-headline">Gallery</h1>

  <div class="gallSideNav">
    <ul>
      <li><a href="/gallery/">Project 1</a></li>
      <li><a href="/gallery2/">Project 2</a></li>
      <li style="font-weight: 700;"><a class="active" href="/gallery3/">Project 3</a></li>
    </ul>
  </div>

<!-- carousel image gallery -->
  <div class="galleryImg">

      <!-- Slideshow container -->
      <div class="slideshow-container fade">

         <!-- Full images with numbers and message Info -->
         <div class="Containers">
           <div class="MessageInfo">1 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/field-film-700w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/field-film-1025w.jpg">
             <img src="/assets/images/field-film-1025w.jpg" alt="Ploughed Field">
           </picture>
           <p class="gallery-caption">3a: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">2 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/english-cottage-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/english-cottage-1025w.jpg">
             <img src="/assets/images/english-cottage-600w.jpg" alt="Cottage House">
           </picture>
           <p class="gallery-caption">3b: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">3 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/field-test-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/field-test-1025w.jpg">
             <img src="/assets/images/field-test-600w.jpg" alt="Wild Flower">
           </picture>
           <p class="gallery-caption">3c: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">4 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/cows-grazing-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/cows-grazing-1025w.JPG">
             <img src="/assets/images/cows-grazing-600w.jpg" alt="Cows Grazing">
           </picture>
           <p class="gallery-caption">3d: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <!-- Back and forward buttons -->
         <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
         <a class="forward" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The circles/dots -->
      <div style="text-align:center">
         <span class="dots" onclick="currentSlide(1)"></span>
         <span class="dots" onclick="currentSlide(2)"></span>
         <span class="dots" onclick="currentSlide(3)"></span>
         <span class="dots" onclick="currentSlide(4)"></span>
      </div>
  </div>

   <div class="galleryTxt">
      <h2 class="text-subheader-gallery">Project 3</h2>
      <p class="text-body-gallery">Curabitur rutrum sem sed orci lacinia faucibus.
         Nulla rutrum venenatis rhoncus. Cras eleifend libero lorem, non egestas
         dui suscipit in. Aliquam tincidunt sollicitudin ipsum a placerat.
         Sed in eleifend nunc, nec blandit magna.
      </p>
    </div>

<!-- gallery bottom horizontal navigation -->
    <div class="galleryNav">
      <a href="/gallery/">Project 1</a>
      <a href="/gallery2/">Project 2</a>
      <a class="active" href="/gallery3/">Project 3</a>
    </div>

<!-- javascript for image carousel -->
<script src="/assets/scripts/carousel.js"></script>
