---
layout: layouts/base.njk
title: Gallery
eleventyNavigation:
  key: gallery
  title: Gallery
  order: 5
---

  <h1 class="text-headline">Gallery</h1>
  <!-- this navigation menu appears on the side on larger screens only -->
    <div class="gallSideNav">
      <ul>
        <li style="font-weight: 700;"><a class="active" href="/gallery/">Project 1</a></li>
        <li><a href="/gallery2/">Project 2</a></li>
        <li><a href="/gallery3/">Project 3</a></li>
      </ul>
    </div>

<!-- carousel image gallery -->
  <div class="galleryImg">

      <!-- Slideshow container -->
      <div class="slideshow-container fade">
         <!-- Full images with numbers and message Info -->
         <div class="Containers">
           <div class="MessageInfo">1 / 4</div>

              <picture>
                <source media="(max-width: 600px)" srcset="/assets/images/desert-stop-600w.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/desert-stop-800w(alt).jpg">
                <img src="/assets/images/desert-stop-600w.jpg" alt="desert stop">
              </picture>
           <p class="gallery-caption">1a: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">2 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/desert-critter-600w.jpg">
             <source media="(max-width: 601px)" srcset="/assets/images/desert-critter-800w.jpg">
             <img src="/assets/images/desert-critter-600w.jpg" alt="desert critter">
           </picture>
           <p class="gallery-caption">1b: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">3 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/expanse-600w.jpg">
             <source media="(min-width: 601px)" srcset="/assets/images/expanse-1025w.jpg">
             <img src="/assets/images/expanse-600w.jpg" alt="expanse">
           </picture>
           <p class="gallery-caption">1c: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <div class="Containers">
           <div class="MessageInfo">4 / 4</div>
           <picture>
             <source media="(max-width: 600px)" srcset="/assets/images/kindling-collector-600w.jpeg">
             <source media="(min-width: 601px)" srcset="/assets/images/kindling-collector-1025w.jpeg">
             <img src="/assets/images/kindling-collector-600w.jpeg" style="object-position:center" alt="kindling collector">
           </picture>
           <p class="gallery-caption">1d: Lorem ipsum dolor sit amet, consectetur, 20xx</p>
         </div>

         <!-- Back and forward buttons -->
         <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
         <a class="forward" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The circles/dots -->
     <div style="text-align:center">
       <span class="dots" onclick="currentSlide(1)"></span>
       <span class="dots" onclick="currentSlide(2)"></span>
       <span class="dots" onclick="currentSlide(3)"></span>
       <span class="dots" onclick="currentSlide(4)"></span>
     </div>
  </div>

  <!-- main gallery text -->
   <div class="galleryTxt">
      <h2 class="text-subheader-gallery">Project 1</h2>
      <p class="text-body-gallery">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
   </div>

   <!-- gallery bottom horizontal navigation -->
   <div class="galleryNav">
     <a class="active" href="/gallery/">Project 1</a>
     <a href="/gallery2/">Project 2</a>
     <a href="/gallery3/">Project 3</a>
   </div>

   <!-- javascript for image carousel -->
   <script src="/assets/scripts/carousel.js"></script>
