---
layout: layouts/base.njk
title: Index
eleventyNavigation:
  key: index
  title: Home
  order: 6
---

  <!-- header, body, main content -->
  <!-- set home image using -->
  <div class="indexImg">
    Preserve your memories..
  </div>
